{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="/" class="btn btn-primary">Back to Home</a>
    <div class="row">
        <div class="col-8">
            <h1>Name: {{pet.name}}</h1>
            <img src={{pet.photo_url}} class="image-fluid">
            <h2>Age: {{pet.age}}</h2>
            <h2>Species: {{pet.species}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form id='add-pet-form' method='POST'>
                {{form.hidden_tag()}}

                {% for field in form
                if field.widget.input_type != 'hidden' %}

                <p>
                    {{field.label}}
                    {{field}}
                    {% for error in field.errors %}
                    {{error}}
                    {% endfor %}
                </p>
                {% endfor %}

                <button type="submit" class='btn btn btn-primary'>
                    Edit Pet
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock %}