{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <div class='row'>
        <h1>PETS</h1>

        {% for pet in pets %}

        <a href="/{{pet.id}}">
            <div class='col-3'>
                <p>{{pet.name}}</p>
                <img class='img-fluid' src="{{pet.photo_url}}"">

            {% if pet.available %}
            <b>AVAILABLE</b>
        </a>
        {% endif %}

        </div>

{% endfor %}

    </div>
    <a href = '/add' class = 'btn btn-primary'>Add a Pet</a>
</div>
{% endblock %}